<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Editando Usuário
    <small>Cadastro</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <%= render 'form', user: @user %>
  <%= link_to 'Voltar', users_path, class: 'btn btn-primary' %>
</section>
