<center>
  <h1>Bem-vindo ao Portabilis Challenger </h1>
  <h1> <%= current_user.email %> </h1>
  <h5>Para ir ao registro de usuários basta usar a sidebar ao lado</h5>
  </br>
  </br>
  <h5>Caso deseje encerrar a sessão, na sidebar também temos a opção!</h5>
</center>