@import "bootstrap";
@import '@fortawesome/fontawesome-free';
@import 'sessions';
@import url("https://fonts.googleapis.com/css?fami...");
@import "admin-lte";
@import "~admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min";

.table {
  tbody {
    tr {
      td {
        vertical-align: middle;
        .btn-td {
          display: block;
          color: #333333;
        }
      }
    }
  }
}
